@use "@/scss/tools" as *;

.checkbox-custom {
	display: inline-flex;
	gap: 8px;
	cursor: pointer;
	width: 100%;

	&__input {
		display: none;
	}

	input:checked ~ .checkbox-custom__fake {
		.custom-radio & {
			border-color: var(--color-accent);
		}

		&::after {
			opacity: 1;
		}
	}

	&__fake {
		@include square(18px);
		border: 1px solid var(--color-gray-4);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		transition: all 0.3s;
		border-radius: 2px;
		margin-top: 4px;

		&::after {
			content: "";
			display: inline-flex;
			@include square(10px);
			background: url("../images/icons/check.svg");
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			opacity: 0;
			transition: all 0.3s;
		}
		.custom-radio & {
			border-radius: 100%;

			&::after {
				@include square(8px);

				background: var(--color-accent);
				border-radius: 100%;
			}
		}
	}

	&__text {
	}
}
