@use "@/scss/tools" as *;

.product {
	padding-top: unset;
	display: grid;
	gap: adapt(56, 32);
	&__summary {
	}

	&__details {
	}
}
.product-summary {
	display: flex;
	align-items: flex-start;
	gap: adapt(126, 32, $mobile);

	@include media($mobile) {
		flex-direction: column;
		align-items: center;
	}

	&__image {
		position: relative;
		flex: 0 1 486px;
		padding-bottom: 47.55%;
		border: 1px solid var(--color-gray-5);
		border-radius: 6px;
		overflow: hidden;
		@include media($mobile) {
			flex: unset;
			width: 100%;
			padding-bottom: 99.4%;
		}
		img {
			transition: all 0.3s;
		}
		@include hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	&__flash {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	&__content {
		flex: 0 1 486px;
		display: grid;
		gap: adapt(32, 24);
	}

	&__sku {
		@include reset;
		font-size: 18px;
		color: var(--color-gray-7);
	}

	&__spec-box {
		display: grid;
		gap: 14px;
	}

	&__title {
	}

	&__spec {
	}

	&__order-box {
	}
}

.spec {
	@include reset;
	list-style-type: none;
	display: grid;
	gap: 8px;

	&__item {
		display: flex;
		align-items: flex-end;
		gap: 4px;

		&::after {
			content: "";
			flex: 1;
			height: 14px;
			border-bottom: rem(1.5) dotted var(--color-gray);
			order: 2;
		}
	}

	&__name {
		order: 1;
		max-width: 50%;
		color: var(--color-gray-7);
	}

	&__value {
		order: 3;
		max-width: 50%;
	}
}
.order-box {
	display: grid;
	gap: 24px;

	&__info {
		@include reset-child;
		color: var(--color-gray-7);
		font-size: 14px;
	}

	&__price-box {
		display: flex;
		gap: 60px;

		.price-box__price-box {
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 4px;
			flex: 1;

			.price-box__price {
				order: 2;
				font-size: 18px;
			}
			.price-box__price-old {
				order: 1;
			}
			.price-box__text {
				order: 3;
			}
		}
	}

	&__cart-btn-box {
		display: flex;
		gap: adapt(32, 14);
		@include custom-select-styles;
	}

	&__form {
		display: flex;
		gap: adapt(32, 14);
	}

	&__input-box {
		display: flex;
		border-radius: 6px;
		border: 1px solid var(--color-gray-5);

		input {
			width: 100%;
			flex: 1;
			border: none;
			padding: 10px;
			border: none;
			border-right: 1px solid var(--color-gray-5);
		}
	}

	&__cart-btn {
		flex-shrink: 0;
		max-width: 180px;
		width: 100%;
		align-items: center;
		justify-content: center;

		@include media($mobile-sm) {
			max-width: 120px;
		}
	}

	&__fav-btn {
		@include square(40px);
		padding: 8px;
	}
}
.product-details {
	&__title {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__descr {
		@include reset-child;
	}
}
