@use "@/scss/tools" as *;
.account-form {
	display: grid;
	gap: adapt(40, 24);
	justify-items: center;
	&__box {
		width: 100%;
		display: grid;
		gap: 12px;
		justify-items: center;
	}
	&__input-box {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: adapt(40, 24);

		@include media($mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__title {
	}

	&__form-input {
		width: 100%;
		.form-input__label {
			text-align: right;
			@include media($mobile-sm) {
				text-align: left;
			}
		}
		&:last-child {
			grid-column: 2;
			@include media($mobile) {
				grid-column: initial;
			}
		}
	}

	&__btn.btn {
		padding-block: 14px;
		border-color: var(--color-gray-3);
		color: var(--color-gray-3);
		align-items: center;
		justify-content: center;
	}
}
