@use "@/scss/tools" as *;


.seo-section {

		&__container {
		}

		&__wrapper {
		}

		&__descr {
			@include reset-child;
			font-size: 14px;
		}

		&__btn {
			@include reset;
			border: none;
			text-align: left;
			background: transparent;
			text-decoration: underline;
			color: var(--color-blue);

			@include media($mobile, min) {
				display: none;
			}
		}
}