@use "@/scss/tools" as *;

.slider-section {
	&__container {
	}

	&__title {
	}

	&__slider-box {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
	&__auto-slider {
		order: 2;
	}
	&__slide-wrapper {
		box-sizing: border-box;
		padding: 23px 18px;
		border: 1px solid var(--color-gray-4);
		border-radius: 10px;
	}
	&__image {
		height: 48px;
	}
	&__btn {
	}

	&__btn-prev {
		order: 1;
	}

	&__btn-next {
		order: 3;
	}
}

.auto-slider {
	&__slide.swiper-slide {
		width: 180px;
	}

	&__btn {
		flex-shrink: 0;
		@include square(56px);
		border: 1px solid var(--color-gray-4);
		border-radius: 50%;
		color: var(--color-accent);
		background: var(--color-white);
		display: flex;
		justify-content: center;
		align-items: center;
		@include media($mobile) {
			display: none;
		}
	}

	&__btn-prev {
		padding-left: 4px;
		svg {
			transition: all 0.3s;
		}
		@include hover {
			svg {
				transform: translateX(-4px);
			}
		}
	}

	&__btn-next {
		padding-right: 4px;
		svg {
			transition: all 0.3s;
		}
		@include hover {
			svg {
				transform: translateX(4px);
			}
		}
	}
}
.slide {
}
