@use "@/scss/tools" as *;

.btn {
	@include reset;
	text-decoration: none;
	background: transparent;
	border: none;
	color: inherit;
	text-align: center;
	display: inline-flex;
	//===========
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--color-accent);
	padding: adapt(10, 8) adapt(18, 8);
	font-size: 14px;
	border-radius: 4px;

	color: var(--color-white);
	background-color: var(--color-accent);

	transition: all 0.3s;
	@include hover {
		background-color: var(--color-accent-light);
	}

	&--stroke {
		background: transparent;
		color: var(--color-accent);
		border: 1px solid var(--color-accent);
		@include hover {
			color: var(--color-white);
		}
	}

	&--big {
		background-image: url("../images/btn-bg.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow:
			0 12px 25px -12px rgba(141, 68, 97, 0.3),
			0 2px 0 0 #8d4461;

		padding: adapt(20, 16) adapt(40, 20);
		border-radius: 8px;
		font-size: 16px;
	}
}
