// Автоматически сгенерированный файл 

@font-face {
	font-family: "OpenSans-VF";
	font-display: swap;
	src: url("../../src/assets/fonts/OpenSans-VariableFont.woff2") format("woff2-variations"),
		url("../../src/assets/fonts/OpenSans-VariableFont.woff") format("woff-variations"),
		url("../../src/assets/fonts/OpenSans-VariableFont.ttf") format("truetype-variations");
		font-weight: 100 900;
		font-style: normal;
}

