@use "../tools" as *;

html {
	box-sizing: border-box;
	font-size: var(--font-size-html);
	min-height: 100%;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;

	//@include custom-scroll(var(--color-gray), var(--color-accent));
}

body {
	min-width: rem($finishBreakpoint); // ! сайт будет масштабироваться
	min-height: 100dvh;
	font-family: var(--font-family-main);
	font-size: var(--font-size);
	font-weight: 400;

	color: var(--color-dark);
	background: var(--color-white);

	line-height: var(--line-height);

	.open-menu & {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100dvh;
	padding-top: var(--header-height);
	& > main {
		flex: 1 1 auto;
	}

	@include media($tablet) {
		padding-bottom: var(--nav-bar-height);
	}
}

.container {
	max-width: calc(var(--container-width) + (var(--container-padding) * 2));
	padding-inline: var(--container-padding);
	margin: 0 auto;
	&--wide {
		--container-width: 1360px;
	}
}

.section {
	padding-block: var(--section-padding);
}

main > *:last-child {
	padding-bottom: adapt(112, 56);
}

.logo {
	transition: all 0.3s;
	a {
		display: inline-flex;
		@include media($tablet) {
			height: adapt(84, 42, $finishBreakpoint, $tablet);
		}
	}
	@include hover {
		opacity: 0.7;
	}
}

// Product section
.product-section {
	display: grid;
	grid-template-columns: 282px 1fr;
	gap: 24px;
	position: relative;

	@include media($tablet) {
		grid-template-columns: 1fr;
	}
	&__filters {
		grid-column: 1;
		grid-row: span 2;
		align-self: start;

		@include media($tablet) {
			position: absolute;
			top: var(--product-bar-height);
			left: 0;
			z-index: 10;
			max-width: 282px;
			background: var(--color-white);
			transform: translateX(-100%);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.3s;

			.filter-open & {
				transform: translateX(0);
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}

	&__product-bar {
		grid-column: 2;
		@include media($tablet) {
			grid-column: 1;
		}
	}

	&__product-grid {
		grid-column: 2;
		@include media($tablet) {
			grid-column: 1;
		}
	}
	.pagination {
		grid-column: 1 / -1;
	}
}
