@use "../tools" as *;

html {
	box-sizing: border-box;
	font-size: var(--font-size-html);
	min-height: 100%;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;

	//@include custom-scroll(var(--color-gray), var(--color-accent));
}

body {
	min-width: rem($finishBreakpoint); // ! сайт будет масштабироваться
	min-height: 100dvh;
	font-family: var(--font-family-main);
	font-size: var(--font-size);
	font-weight: 400;

	color: var(--color-dark);
	background: var(--color-white);

	line-height: var(--line-height);

	.open-menu & {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100dvh;
	padding-top: var(--header-height);
	& > main {
		flex: 1 1 auto;
	}

	@include media($tablet) {
		padding-bottom: var(--nav-bar-height);
	}
}

.container {
	max-width: calc(var(--container-width) + (var(--container-padding) * 2));
	padding-inline: var(--container-padding);
	margin: 0 auto;
	&--wide {
		--container-width: 1360px;
	}
}

.section {
	padding-block: var(--section-padding);
}

.logo {
	transition: all 0.3s;
	a {
		display: inline-flex;
		@include media($tablet) {
			height: adapt(84, 42, $finishBreakpoint, $tablet);
		}
	}
	@include hover {
		opacity: 0.7;
	}
}
