@use "../tools" as *;

.none {
	display: none !important;
}

.no-scroll {
	overflow: hidden;
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include media($tablet, max) {
		display: none !important;
	}
}

.visible-mobile {
	@include media($tablet, min) {
		display: none !important;
	}
}

// для column
.no-break {
	break-inside: avoid;
}
