@use "@/scss/tools" as *;

.order-table {
	width: 100%;
	&__tbody {
		display: grid;
		gap: 12px;
	}
	&__row {
		padding: adapt(12, 8);
		width: 100%;
		box-shadow: none;
		border-color: var(--color-gray);
		display: grid;
		grid-template-columns: 0.2fr 1fr 0.7fr;
		gap: adapt(80, 32, $tablet);
		align-content: start;

		@include media($tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__info {
		display: grid;
		justify-items: start;
		align-content: start;
		gap: 8px;

		@include media($tablet) {
			grid-column: 1 / -1;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__date {
		font-size: 12px;
		line-height: 130%;
		color: var(--color-gray-2);
		@include media($tablet) {
			grid-column: 1 / -1;
			grid-row: 1;
		}
	}

	&__number {
		font-size: 18px;
		font-weight: 700;
		line-height: 130%;
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 8px;

		@include media($tablet) {
			justify-self: end;
			grid-row: 1 / 3;
			grid-column: 2;
		}
	}

	&__btn-text {
	}

	&__btn-icon {
		width: 18px;
		height: 18px;
		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__details {
		display: grid;
		align-content: start;
		gap: 12px;

		@include media($tablet) {
			grid-column: 1 / -1;
		}
	}

	&__quantity {
		@include reset;
	}

	&__list {
		@include reset;
		padding-left: 24px;
		display: grid;
		gap: 12px;
	}

	&__item {
	}

	&__link {
		text-decoration: none;
		color: inherit;
		display: flex;
		gap: 8px;
		justify-content: space-between;
		transition: color 0.3s;

		@include hover {
			color: var(--color-accent);
		}
	}

	&__status-price {
		display: grid;
		align-content: start;
		grid-template-columns: repeat(2, 1fr);
		gap: 8px;
		@include media($tablet) {
			grid-column: 1 / -1;
		}
	}

	&__status {
		display: grid;
		align-content: start;

		gap: 8px;

		@include media($tablet) {
			justify-content: start;
			grid-row: span 2;
		}
		@include media($tablet-sm) {
			justify-content: initial;
		}
	}

	&__status-label {
		@include reset;
		font-size: 12px;
		color: inherit;
		border: 1px solid currentColor;
		border-radius: 4px;
		padding: 4px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include media($tablet-sm) {
			width: 100%;
		}
	}

	&__status-descr {
		@include reset-child;
		font-size: 12px;
		color: var(--color-gray-3);
	}

	&__price {
		@include reset;
		justify-self: end;
		text-align: right;
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
	}

	&__cancel-link {
		text-decoration: underline;
		@include media($tablet) {
			grid-column: 2;
			justify-self: end;
		}
	}
}

.delivery {
	color: #23b24b;
}
.pick-up {
	color: #d5920e;
}
.done {
	color: #656565;
}
.canceled {
	color: #e93232;
}
