@use "@/scss/tools" as *;

.image-box {
	@include reset;
	--object-fit: cover;
	--object-pos: center;
	
	img,
	source,
	picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: var(--object-fit);
		object-position: var(--object-pos);
	}
}
