@use "@/scss/tools" as *;

.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--color-white);
	color: inherit;
	//font-size: 16px;

	/*flex-wrap: wrap;*/
	z-index: 9999;
	border-top: 1px solid var(--color-gray-4);

	&.hide {
		display: none;
	}

	&__container {
		padding-block: adapt(20, 10);
		display: flex;
		gap: adapt(24, 10);
		justify-content: space-between;
		align-items: center;

		@include media($tablet) {
			flex-wrap: wrap
		}
	}

	&__content {
		@include reset;

		a {
			color: var(--color-blue);
			text-decoration: none;
		}
	}

	&__buttons {
		display: flex;
		gap: 10px;
	}
}
