@use "@/scss/tools" as *;

.phone-box {
	@include reset;
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	font-weight: 600;

	* {
		flex-shrink: 0;
	}

	&__item {
		display: flex;
		gap: 10px;
		align-items: center;
		&.custom-icon {
			&::before {
				background-size: 100%;
			}
		}
		* {
			flex-shrink: 0;
		}

		&::before {
			content: "";
			@include square(20px);
			background: var(--color-accent);
			background-image: var(--item-icon);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 12px;
			border-radius: 2px;
			flex-shrink: 0;
		}
	}

	&__link {
		color: inherit;
		list-style-type: none;
		text-decoration: none;
		@include hoverLine(center, var(--color-accent));
	}

	&__icon-link {
		@include square(20px);
		transition: all 0.3s;

		@include hover {
			opacity: 0.7;
		}
	}
}
