@use "@/scss/tools" as *;

.faq {
	&__list {
		@include reset;
		list-style-type: none;
		display: grid;
		gap: 12px;
	}

	&__item {
	}
}
.faq-item {
	&.box {
		padding: unset;
	}

	&__btn {
		@include reset;
		text-align: left;
		border: none;
		background: transparent;
		padding: 20px 10px;

		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
	}

	&__title {
		max-width: 874px;
	}

	&__icon {
		@include square(adapt(56, 32));
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--color-gray-6);
		border-radius: 50%;
		color: var(--color-white);
		background: var(--color-accent);
		padding: adapt(4, 8);
		padding-bottom: adapt(8, 12);
		transform: rotate(180deg);
		transition: all 0.3s;

		.spoiler-active & {
			transform: rotate(0);
			color: var(--color-accent);
			background:  var(--color-white);
		}
	}

	&__content {
	}

	&__descr {
		padding: 20px 10px;
		padding-top: unset;
		@include reset-child;
		max-width: 874px;
	}
}
