@use "@/scss/tools" as *;

.main {
}
.news {
	padding-top: unset;
	&__container {
		display: grid;
		gap: 24px;
	}
	&__grid {
		gap: 24px;
	}

	&__item {
	}
}

.news-item {
	font-size: 16px;

	&__link-wrapper {
		display: grid;
		text-decoration: none;
		color: inherit;
		@include hover {
			.news-item__image-box img {
				transform: scale(1.05);
			}
			.news-item__title {
				color: var(--color-accent);
			}
		}
	}
	&__image-box {
		padding-bottom: 60%;
		position: relative;
		overflow: hidden;

		img {
			transition: all 0.3s;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__meta {
		font-size: 12px;
		color: var(--color-gray-2);
		@include reset;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__title {
		@include reset;
		transition: color 0.3s;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__text {
		@include reset;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis; /* Добавляем многоточие */
	}
}
