@use "@/scss/tools" as *;

.cart-table {
	width: 100%;
	&__tbody {
		display: grid;
		gap: rem(12);
	}
	&__row {
		display: grid;
		grid-template-columns: adapt(92, 64) 1.5fr 160px 1.5fr;
		align-items: center;
		gap: rem(20);
		position: relative;
		@include media($mobile) {
			padding-top: 30px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	&__thumb {
	}

	&__link-image {
		position: relative;
		display: block;
		height: adapt(92, 64);
		width: 100%;
	}
	&__info {
		@include media($mobile) {
			grid-column: 2 / -1;
		}
	}

	&__link-title {
		text-decoration: none;
		color: inherit;
		display: grid;
		gap: 8px;
		transition: all 0.3s;

		@include hover {
			color: var(--color-accent);
		}
	}

	&__title {
		@include reset;
		font-size: 16px;
		font-weight: 400;
	}

	&__sku {
		@include reset;
		color: var(--color-gray-7);
	}

	&__counter {
		@include media($mobile) {
			grid-column: span 2;
		}
	}

	&__select-box {
		display: flex;
		border-radius: 6px;
		border: 1px solid var(--color-gray-5);

		input {
			width: 100%;
			flex: 1;
			border: none;
			padding: 10px;
			border: none;
			border-right: 1px solid var(--color-gray-5);
		}
		@include custom-select-styles;

		
	}

	&__price {
		margin-top: 30px;
		@include media($mobile) {
			grid-column: 3 / -1;
			margin-top: unset;
		}
		@include media($mobile-sm) {
			grid-column: 1 / -1;
		}
	}

	&__price-box {
		display: flex;
		justify-content: flex-end;
		gap: 24px;
		text-align: right;

		@include media($mobile-sm) {
			text-align: left;
			justify-content: center;
			flex-direction: column;
		}
		.price-box__price-box {
			flex-direction: column;
			flex: 1;
			flex-wrap: nowrap;

			@include media($mobile-sm) {
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
		.price-box__price {
			font-size: 18px;
			font-weight: 800;
			order: 2;
			@include media($mobile-sm) {
				order: 1;
			}
		}
		.price-box__price-old {
			order: 1;
			@include media($mobile-sm) {
				order: 2;
			}
		}
		.price-box__text {
			order: 3;
		}
	}

	&__remove {
		position: absolute;
		top: 5px;
		right: 1px;
	}

	&__remove-btn {
		@include reset;
		display: flex;
		justify-content: center;
		align-items: center;
		@include square(rem(40));
		border: none;
		background: transparent;
		color: var(--color-gray-3);
		transition: all 0.3s;

		@include hover {
			transform: rotate(90deg);
			color: var(--color-accent);
		}
	}
}
