@use "@/scss/tools" as *;

.notification-section {
	padding-top: unset;
	&__container {
		display: grid;
		gap: 24px;
		justify-items: center;
	}

	&__icon {
	}

	&__descr {
		@include reset-child;
		font-size: 18px;
		text-align: center;
	}

	&__contacts {
		display: grid;
		gap: 12px;
		justify-items: center;
		text-align: center;
	}

	&__text {
		@include reset;
		font-size: 16px;
	}

	&__phone-box {
		flex-wrap: wrap;
		justify-content: center;
	}

	&__btn-box {
		display: flex;
		align-items: center;
		gap: adapt(24, 8);
		@include media($mobile-sm) {
			width: 100%;
		}
	}

	&__btn.btn {
		flex: 0 1 200px;
		min-width: 200px;
		
		justify-content: center;
		padding-block: 14px;

		@include media($mobile-sm) {
			min-width: unset;
			padding-inline: 2px;
		}
	}
}
