@use "@/scss/tools" as *;
.link {
}
.checkout {
	padding-top: unset;
	&__container {
		display: grid;
		grid-template-columns: 1fr 384px;
		gap: 24px;
		align-items: start;

		@include media($tablet) {
			grid-template-columns: 1fr 0.6fr;
		}
		@include media($mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__form-wrapper {
	}

	&__form {
	}

	&__totals {
	}
}

.checkout-form {
	display: grid;
	gap: adapt(40, 24);
	&__info {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__box {
		display: grid;
		width: 100%;
		gap: 12px;
	}
	&__form-input {
	}

	&__delivery {
	}
	&__delivery-info {
	}
	&__list {
		@include reset;
		list-style-type: none;
		display: grid;
		gap: 12px;
	}

	&__company {
	}

	&__payment {
	}

	&__comments {
		.form-input__input-box {
			flex: 1 1 100%;
		}
	}

	&__text {
		@include reset;
	}
	&__btn-box {
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: start;
	}
	&__btn-box-flex {
		display: flex;
		gap: 12px;
		align-items: center;
		& > * {
			flex: 1;
		}
		@include media($mobile-sm) {
			width: 100%;

			& > .checkout-form__btn.btn {
				min-width: unset;
			}
		}
	}

	&__accept {
	}

	&__btn.btn {
		padding-block: 14px;
		min-width: 180px;
		justify-content: center;
		@include media($mobile-sm) {
			width: 100%;
			justify-content: center;
		}
	}
}
.form-box {
	display: grid;
	gap: 12px;
}
.delivery-options {
	&__item {
	}

	&__checkbox {
	}
}
.delivery-info {
	margin-top: 12px;

	&__title {
		font-size: 16px;
		font-weight: 600;
		display: flex;
		gap: 8px;
		align-items: center;
		color: var(--color-green);

		@include reset;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		&::before {
			content: "";
			width: 24px;
			height: 24px;
			background: url("../images/icons/time.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}

	&__descr {
		@include reset-child;
		font-size: 14px;
	}
}

.checkout-totals {
	flex-direction: column;

	&__btn.btn {
		padding-block: 14px;
		justify-content: center;
	}
}

.login {
	padding-top: 0;
	&__container {
		display: grid;
		justify-items: center;
		gap: 12px;
	}
	&__wrapper {
		max-width: 789px;
		width: 100%;
	}
	&__form {
		max-width: 462px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__text {
		text-align: center;
		@include reset;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}
