@use "@/scss/tools" as *;

.form-input {
	display: flex;
	gap: adapt(20, 8);
	@include media($mobile-sm) {
		flex-direction: column;
	}

	&__label {
		flex: 0 1 100px;
		margin-top: 4px;
		@include media($mobile-sm) {
			flex: auto;
		}
	}

	&__input-box {
		flex: 1 1 390px;
		position: relative;
		@include media($mobile-sm) {
			flex: auto;
			width: 100%;
		}
	}

	&__input {
		width: 100%;
		border: 1px solid var(--color-gray-5);
		border-radius: 2px;
		padding: 10px 16px;
	}

	&__textarea {
	}

	&__hint {
		color: var(--color-gray-4);
		margin-top: 4px;
	}
	.password-show-btn {
		@include reset;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: transparent;
		@include square(40px);
		padding: 10px;
		transition: color 0.3s;
		@include hover {
			color: var(--color-accent);
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
