@use "@/scss/tools" as *;

.filters {
	&__title {
		@include reset;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__form {
		display: grid;
		gap: 12px;
	}

	&__category {
	}

	&__brands {
	}

	&__range-slider {
	}

	&__presence {
	}

	&__btn {
		justify-content: center;
	}
}

.filter-block {
	display: grid;
	gap: 10px;
	&:not(:first-child) {
		padding-top: 12px;
		border-top: 1px solid var(--color-gray-6);
	}
	&:last-of-type {
		padding-bottom: 12px;
		border-bottom: 1px solid var(--color-gray-6);
		margin-bottom: 12px;
	}
	&__title {
		@include reset;
		font-weight: 600;
	}

	&__list {
		@include reset;
		list-style-type: none;

		&--no-dots {
			.filter-block__item::before {
				display: none;
			}
		}
	}

	&__item {
		display: flex;
		gap: 8px;
		&:not(:first-child) {
			padding-top: 12px;
		}
		&::before {
			content: "";
			@include square(4px);
			background: currentColor;
			border-radius: 50%;
			margin-top: 0.4em;
			margin-left: 0.4em;
			flex-shrink: 0;
		}
	}

	&__link {
		color: inherit;
		text-decoration: none;
		transition: color 0.3s;

		@include hover {
			color: var(--color-accent);
		}
		&.active {
			color: var(--color-accent);
			font-weight: 600;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
		justify-content: space-between;
	}

	&__reset {
	}

	&__range-slider {
	}
}

.input-checkbox {
	&__label {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__input {
		display: none;
	}
	&__input:checked ~ .input-checkbox__checkbox::before {
		opacity: 1;
	}
	&__checkbox {
	}

	&__text {
	}
}
.checkbox {
}
.range-slider {
	&__input-box {
		display: flex;
		align-items: center;
		gap: 16px;
		&::before {
			content: '';
			width: 10px;
			height: 1px;
			background: var(--color-gray-2);
			flex-shrink: 0;
			order: 2;
		}
		margin-bottom: -10px;
	}

	&__input {
		width: 100%;
		border: 1px solid var(--color-gray-5);
		border-radius: 6px;
		padding: 4px 10px;
		&:first-of-type {
			order: 1;
		}
		&:last-of-type {
			order: 3;
		}
	}

	&__input--from {
	}

	&__input--to {
	}

	&__slider {
		.irs--round .irs-handle {
			top: 26px;
			width: 20px;
			height: 20px;
			border: 5px solid var(--color-accent);
			background-color: white;
			border-radius: 50%;
			cursor: pointer;
		}

		.irs--round .irs-bar {
			top: 36px;
			height: 2px;
			background-color: var(--color-accent);
		}
		.irs--round .irs-line {
			top: 36px;
			height: 2px;
			background-color: var(--color-gray-3);
			border-radius: 0px;
		}
		.irs-to,
		.irs-from,
		.irs-max,
		.irs-min {
			display: none;
		}
	}
}
