@use "@/scss/tools" as *;
@use "@/ui/Button/button.scss" as *;

.contact-section {
	&__container {
		padding: 60px adapt(40, 10);
		border-radius: 8px;
		background: linear-gradient(135deg, #eee5ea 0%, #edebe6 48.75%);
		position: relative;
		font-size: 16px;

		@include media($mobile)  {
			padding-bottom: 0;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		max-width: 820px;
	}
	&__title {
		text-align: left;
	}
	&__text {
		@include reset;
		font-size: 16px;
		max-width: 70%;
		&:not(:last-child) {
			margin-bottom: adapt(32, 20);
		}

		@include media($laptop-sm) {
			max-width: 60%;
		}

		@include media($mobile) {
			max-width: 100%;
		}
	}
	&__form-box {
		form {
			margin: 0 auto;
		}
		form p {
			@include reset;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: adapt(20, 12)adapt(24, 12);

			@include media($mobile-sm) {
				grid-template-columns: 1fr;
			}

			.wpcf7-form-control-wrap {
				position: relative;

				input {
					width: 100%;
					padding: 20px;
					background: var(--color-white);
					border-radius: 6px;
					border: none;
				}

				.wpcf7-not-valid-tip {
					position: absolute;
					top: 0;
					left: 0;
					transform: translateY(-100%);
					color: var(--color-accent);
				}

				&[data-name^="acceptance-"] {
					grid-column: span 3;
					@include media($mobile-sm) {
						grid-column: initial;
					}
					label {
						display: flex;

						input {
							position: absolute;
							opacity: 0;
							overflow: hidden;
							display: none;
						}

						input:checked ~ span {
							&::before {
								opacity: 1;
							}
						}

						span {
							//display: inline-flex;
							display: inline-block;
							padding-left: 28px;
							padding-top: 2px;

							position: relative;
							&::before {
								content: "";
								position: absolute;
								z-index: 2;
								top: 2px;
								left: 2px;
								@include square(rem(16));
								background: url("../images/icons/check.svg");
								background-repeat: no-repeat;
								background-position: center;
								background-size: 100%;
								opacity: 0;
								transition: all 0.3s;
							}
							&::after {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								@include square(rem(20));
								background: var(--color-white);
								border: 1px solid var(--color-border);
								border-radius: 2px;
							}

							a {
								display: inline-block;
								padding-left: 2px;
								color: var(--color-blue-light);
							}
						}
					}
				}
			}

			.form-btn {
				@extend .btn;
				@extend .btn--big;
				justify-self: start;
				max-width: 300px;
				width: 100%;

				@include media($mobile) {
					justify-self: unset;
					max-width: 100%;
				}
			}
		}
		.wpcf7-response-output {
			padding: 10px;
			border: 1px solid var(--color-accent);
			border-radius: 8px;
			font-size: 16px;
			font-weight: 500;
			background: var(--color-white);

			&:not(:first-child) {
				margin-top: 10px;
			}
		}
	}

	&__image-box {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		z-index: 1;
		--object-fit: contain;

		@include media($mobile) {
			position: relative;
			width: 100%;
			padding-bottom: 60%;
		}
	}
}
