@use "@/scss/tools" as *;

.catalog-btn {
	padding: 5px 20px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 10px;
	background: var(--color-accent);
	border: none;
	color: var(--color-white);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	&__icon {
		flex-shrink: 0;
		padding-top: 4px;
	}

	&__text {
	}
}
