@use "@/scss/tools" as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;
	padding-block: adapt(10, 5);
	background: var(--color-header);
	
	&__top,
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;
	}
	&__top {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid var(--color-gray);

		@include media($tablet) {
			position: fixed;
			bottom: var(--nav-bar-height);
			right: 0;

			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			background: var(--color-white);
			margin-bottom: unset;
			padding: 20px;
			border: none;
			width: 50vw;
			height: calc(100dvh - var(--header-height) - var(--nav-bar-height) - 10dvh);
			overflow-x: hidden;
			overflow-y: auto;

			transform: translateY(100%);
			visibility: hidden;
			z-index: -1000;
			pointer-events: none;
			opacity: 0;
			transition: all 0.3s;
			
			&.add-menu-open {
				transform: translateY(0);
				visibility: visible;
				z-index: initial;
				pointer-events: auto;
				opacity: 1;
			}
		}

		@include media($tablet) {
			width: 60vw;
		}
	}
	&__menu {
		@include media($tablet) {
			width: 100%;
			border-top: 1px solid var(--color-gray);
			padding-top: 24px;
			order: 2;
		}
	}

	&__phone-box.phone-box {
		flex-shrink: 0;

		@include media($tablet) {
			flex-direction: column;
			align-items: flex-start;
			max-width: 180px;
			.phone-box__item {
				flex-wrap: wrap;
			}
			.phone-box__icon-link {
				@include square(32px);

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	&__bottom {
	}

	&__logo {
		flex-shrink: 0;
		margin-right: adapt(24, 0);
	}

	&__catalog-btn.catalog-btn {
		flex-shrink: 0;
		@include media($tablet) {
			display: none;
		}
	}

	&__search-form {
		flex: 1 1 100%;

		form {
			display: flex;
			position: relative;
		}

		input {
			width: 100%;
			padding: 10px;
			border: 1px solid var(--color-gray);
			border-radius: 6px;
			padding-right: 50px;
		}
		button {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 100%;
			padding-inline: 14px;
			padding-top: 2px;
			color: var(--color-gray-2);
			border: none;
			background: transparent;
			transition: all 0.3s;

			@include hover {
				color: var(--color-accent);
			}
		}
	}

	&__nav-bar {
	}
}
