@use "base/normalize";
@use "../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css";
@use "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";

@use "base/fonts";
@use "base/vars";
@use "base/resets";
@use "base/global";
@use "base/utils";
@use "base/_components.scss";
