@use "base/normalize";
@use "../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css";
@use "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";

@use "base/fonts";
@use "base/vars";
@use "base/resets";
@use "base/global";
@use "base/utils";
@use "base/_components.scss";

.wp-block-media-text {
	gap: 24px;
}
.wp-block-media-text > .wp-block-media-text__content {
	padding: unset;
}

