@use "@/scss/tools" as *;

.footer {
	padding-top: 44px;
	padding-bottom: calc(var(--nav-bar-height) + 70px);
	background: var(--color-footer);
	color: var(--color-footer-text);
	font-size: 14px;
	@include media($tablet) {
		padding-bottom: var(--nav-bar-height);
	}
	&__container {
	}

	&__top {
		display: grid;
		grid-template-columns: 1fr 400px 1fr;
		gap: 32px adapt(120, 32, $tablet);

		@include media($tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media($mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__logo {
		a {
			height: 84px;
		}
	}

	&__descr {
		@include reset-child;
		flex-grow: 1;
	}

	&__links-box {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__link {
		text-decoration: none;
		color: var(--color-gray-3);
		transition: all 0.3s;

		@include hover {
			color: var(--color-accent);
		}
	}

	&__nav {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__title {
		@include reset;
		font-weight: 700;
		font-size: adapt(18, 16);
		line-height: 130%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__subscribe {
	}

	&__subscribe-form {
	}

	&__phone-box {
		flex-direction: column;
		align-items: flex-start;
	}

	&__content-descr {
	}
}

.footer-top {
	&__col-info {
		display: flex;
		flex-direction: column;
		gap: adapt(24, 12);
	}

	&__col-nav {
	}

	&__col-contacts {
	}
}
.footer-menu {
	&__list {
		@include reset;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		gap: 16px 24px;

		a {
			text-decoration: none;
			color: inherit;
			transition: all 0.3s;

			@include hover {
				color: var(--color-accent);
			}
		}
	}
}
.subscribe-form {
	&__input-box {
		display: flex;
		background: var(--color-white);
		border-radius: 6px;
	}

	&__input {
		width: 100%;
		padding: 14px 20px;
		border: none;
		border-radius: 6px;
	}

	&__btn {
		align-items: center;
	}
}

.footer-block {
	margin-top: 16px;
	padding-top: 16px;
	border-top: 1px solid var(--color-gray-6);
	font-size: 12px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	gap: 24px;

	@include media($mobile) {
		grid-template-columns: 1fr;
	}

	a {
		text-decoration: none;
		color: inherit;
		transition: all 0.3s;

		&:hover {
			color: var(--color-accent);
		}
	}

	* {
		@include reset;
	}

	*:nth-child(even) {
		justify-self: end;
		text-align: right;

		@include media($mobile) {
			justify-self: start;
			text-align: left;
		}
	}
}
