@use "@/scss/tools" as *;
//.footer {
//	padding-block: 48px 58px;
//	background: var(--color-footer-bg);
//	color: var(--color-footer-text);
//	font-size: rem(14);

//	&__container {
//		display: grid;
//		grid-template-columns: 1fr rem(400) 1fr;
//		gap: adapt(40, 24) adapt(120, 40, $tablet);

//		@include media($tablet) {
//			grid-template-columns: repeat(2, 1fr);
//		}
//		@include media($mobile) {
//			grid-template-columns: 1fr;
//		}
//	}

//	&__info {
//		display: grid;
//		gap: rem(36);
//		@include media($tablet) {
//			grid-column: 1 / -1;
//		}
//		.flex-box {
//			display: flex;
//			align-items: flex-end;
//			gap: rem(14);
//		}
//	}

//	&__logo {
//		flex-shrink: 0;
//	}

//	&__info-descr {
//		@include reset-child;
//	}

//	&__small-copy {
//		font-size: inherit;
//	}

//	&__links-box {
//		display: grid;
//		gap: rem(14);
//	}
//	&__link {
//		text-decoration: none;
//		color: inherit;
//		transition: color 0.3s;

//		@include hover {
//			color: var(--color-footer-hover);
//		}
//	}

//	&__nav {
//		font-size: rem(18);
//	}

//	&__title {
//		@include reset;
//		font-size: rem(18);
//		font-weight: 700;
//		color: var(--color-accent);

//		&:not(:last-child) {
//			margin-bottom: adapt(24, 16);
//		}
//	}

//	&__contacts {
//		font-size: rem(16);
//		justify-self: end;
//		text-align: right;

//		@include media($mobile) {
//			justify-self: initial;
//			text-align: left;
//		}
//	}

//	&__phone-box {
//		@include media($tablet) {
//			border: none;
//			padding-bottom: unset;
//		}
//		&:not(:last-child) {
//			margin-bottom: rem(14);
//		}
//		.phone-box__item {
//			justify-content: flex-end;

//			@include media($mobile) {
//				justify-content: flex-start;
//			}
//		}
//		.phone-box__link {
//			font-weight: 400;
//			@include hover {
//				color: var(--color-footer-hover);
//			}
//		}
//	}

//	&__address {
//		font-style: normal;
//	}

//	&__block {
//		grid-column: 1 / -1;
//		display: flex;
//		align-items: center;
//		justify-content: space-between;
//		gap: adapt(42, 24);
//		padding-top: 16px;
//		border-top: 1px solid var(--color-border);

//		@include media($mobile) {
//			flex-direction: column;
//			justify-content: flex-start;
//			align-items: flex-start;
//		}
//	}

//	&__col {
//		@include reset-child;
//		&:last-child {
//			text-align: right;

//			@include media($mobile) {
//				text-align: left;
//			}
//		}
//	}

//	&__pay-methods {
//		flex-shrink: 0;
//	}
//}

//.menu {
//	&__list {
//		@include reset;
//		list-style-type: none;
//		display: grid;
//		grid-template-columns: repeat(2, 1fr);
//		gap: rem(14) adapt(100, 24, $tablet);
//	}

//	&__item {
//	}

//	&__link {
//		text-decoration: none;
//		color: inherit;
//		transition: color 0.3s;

//		@include hover {
//			color: var(--color-footer-hover);
//		}
//	}
//}
//===================
.footer {
	padding-block: 44px var(--nav-bar-height);
	background: var(--color-footer);
	color: var(--color-footer-text);
	font-size: 14px;
	&__container {
	}

	&__top {
		display: grid;
		grid-template-columns: 1fr 400px 1fr;
		gap: 32px adapt(120, 32, $tablet);

		@include media($tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media($mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__logo {
		a {
			height: 84px;
		}
	}

	&__descr {
		@include reset-child;
		flex-grow: 1;
	}

	&__links-box {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__link {
		text-decoration: none;
		color: var(--color-gray-3);
		transition: all 0.3s;

		@include hover {
			color: var(--color-accent);
		}
	}

	&__nav {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__title {
		@include reset;
		font-weight: 700;
		font-size: adapt(18, 16);
		line-height: 130%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__subscribe {
	}

	&__subscribe-form {
	}

	&__phone-box {
		flex-direction: column;
		align-items: flex-start;
	}

	&__content-descr {
	}
}

.footer-top {
	&__col-info {
		display: flex;
		flex-direction: column;
		gap: adapt(24, 12);
	}

	&__col-nav {
	}

	&__col-contacts {
	}
}
.footer-menu {
	&__list {
		@include reset;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		gap: 16px 24px;

		a {
			text-decoration: none;
			color: inherit;
			transition: all 0.3s;

			@include hover {
				color: var(--color-accent);
			}
		}
	}
}
.subscribe-form {
	&__input-box {
		display: flex;
		background: var(--color-white);
		border-radius: 6px;
	}

	&__input {
		width: 100%;
		padding: 14px 20px;
		border: none;
		border-radius: 6px;
	}

	&__btn {
		align-items: center;
	}
}

.footer-block {
	margin-top: 16px;
	padding-top: 16px;
	border-top: 1px solid var(--color-gray-6);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	gap: 24px;

	@include media($mobile) {
		grid-template-columns: 1fr;
	}

	a {
		text-decoration: none;
		color: inherit;
		transition: all 0.3s;

		&:hover {
			color: var(--color-accent);
		}
	}

	* {
		@include reset;
	}

	*:nth-child(even) {
		justify-self: end;
		text-align: right;

		@include media($mobile) {
			justify-self: start;
			text-align: left;
		}
	}
}
